body
{
  margin: 0;
  font-size: 0.9em;
  font-family: "Verdana,Arial,sans-serif"
}

ul.list {
  margin: 0 0 110px 0;
  padding: 0 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

ul.list li {
  list-style-type: none;
  padding: 4px 0 0 2px;
  margin: 0;
  text-align: left;
}

.tools-delete
{
  text-decoration: none;
  color: #f1f1f1;
  margin: 0 50px 0 50px;
  padding: 4px;
  border: 1px solid #f1f1f1;
}

.tools-edit
{
  text-decoration: none;
  color: #f1f1f1;
  margin: 0 50px 0 50px;
  padding: 4px;
  border: 1px solid #f1f1f1;
}

div.tools
{
  padding: 12px 0 8px 0;
  clear: both;
}

.player
{
  background-color: #ecebe8;
  left: 320px;
  float: left;
  width: 99%;
  height: 99%;
  position:fixed;
}

.playerframe
{
  max-height: 99%;
  height: 800px;
  border: 0;
  width: 99%;
}
.filter
{
  padding-top: 10px;
}

.addForm
{
  background: #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wide-input
{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
}

.sidebar
{
  float: left;
  width: 320px;
  background-color: #4c4c4c;
  height: 617px;
}

.playerlist
{
  background-color: #4c4c4c;
  text-align: center;
  height: 100%;
  width: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}

.controllers
{
  width: 320px;
  text-align: center;
  background-color: #4c4c4c;
  height:130px;
}

.authenticate
{
  width: 320px;
  background-color: #4c4c4c;
  position: fixed;
  text-align: center;
  height:170px;
}

.rounded_input
{
  padding: 5px;
}

.playlist_button
{
  background-color: transparent;
  display: inline-block;
  padding: 2px;
  text-decoration:none;
  border: 0;
  color: #f1f1f1;
}

.hidden
{
  display: none;
}

.addPlayer .ui-dialog-titlebar
{
  display: none;
}

#new-player
{
  margin-top: 16px;
}

.ui-widget-overlay.darker-overlay
{
    background-color: black;
    background-image: none;
    opacity: 0.7;
    filter: "Alpha(Opacity=70)",
}

.ui-widget
{
  font-size: 1.0em !important
}

.authstatus
{
  display: inline-block;
}
